---
import BaseLayout from "@/layout/base-layout.astro"
import {Cow} from "@/components/cow"
---

<BaseLayout>
	<div class="w-screen h-screen bg-[linear-gradient(#210040,#3F0175)] grid place-items-center grid-cols-2 max-w-screen max-h-screen">
		<h1 class="font-sans text-7xl">Привет! Я, Родион!</h1>

		<Cow client:only="solid-js"/>
	</div>
</BaseLayout>
